<div id="add_movie">
    <div class="alert alert-danger" ng-hide="(isModerator || isAdmin) && (isValidSession)">
        <strong>Error!</strong> Not Allowed to access this page!
    </div>
    <span ng-show="(isModerator || isAdmin) && (isValidSession)">
        <span>Please Search for the <span class="desc">exact Movie name</span> at <a target="_blank"
                                                                                     href="http://www.imdb.com">IMDB</a></span><br/>
    <div class="registration-container" id="register-form">
        <div class="alert alert-danger" ng-show="errorCode">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> Couldnt Add your Movie to DB!
        </div>
        <div class="alert alert-success" ng-show="successCode">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Movie has been added to DB!
        </div>
        <form ng-submit="addMovie()" role="form">
            <div class="form-group">
                Movie Name:
                <input type="text" placeholder="Movie Name" id="mname" name="mname" class="form-control"
                       ng-model="movieName.movie" required>
            </div>

            <button id="movieButton" type="submit" class="btn btn-success">Add Movie</button>
        </form>
    </div>
    </span>
</div>