<div id="approve_comments">

    <div class="alert alert-danger" ng-hide="(isModerator || isAdmin) && (isValidSession)">
        <strong>Error!</strong> Not Allowed to access this page!
    </div>
    <span ng-show="(isModerator || isAdmin) && (isValidSession)">
    <div class="alert alert-danger" ng-show="errorCode">
        <strong>Oops!</strong> Something Went Wrong!
    </div>
    <table class="table table-striped table-hover admin-table">
        <thead>
        <tr>

            <th>User ID</th>
            <th>User Name</th>
            <th>Movie Name</th>
            <th>Rating</th>
            <th>Review</th>
            <th>Approve/Unapprove Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in comments">
            <td>{{x.userid}}</td>
            <td>{{x.first_name + " " + x.last_name}}</td>
            <td><a ui-sref="movie({id: x.movieid})" target="_blank">{{x.title}}</a></td>
            <td>{{x.user_rating}}</td>
            <td>{{x.review}}</td>

            <td ng-hide="approveBoolean[$index]"><a
                    ng-click="approveComment(x.userid,x.movieid,$index)">Approve Comment</a></td>
            <td ng-show="approveBoolean[$index]"><a ng-click="deleteComment(x.userid,x.movieid,$index)">Unapprove Comment</a></td>
        </tr>
    </table>
    </span>

</div>