<div id="citation_page">
    <p>This WebApp is submitted as part of the project for
        CS 5200 Introduction to Database Management.
    </p>
    <span>The Tech stack used for the Project is:</span>
    <ol>
        <li>DATABASE: MySQL 5.7.15</li>
        <li>NodeJS (Version: 4.5.0) as Server</li>
        <li>ExpressJS as Framework for building routes</li>
        <li>HTML5 + CSS3 + JS for frontend</li>
        <li>Boostrap for building a rich UI interface</li>
        <li>AngularJS for seameless routing and state persistence in the frontend</li>
        <li><a href="http://sequelizejs.com">SequelizeJS</a> as the ORM for connecting and communicating with database.
        </li>
    </ol>

    <span>Internal Details and Citation:</span>
    <ol>
        <li>Angular UI-Router for routing <a href="https://github.com/angular-ui/ui-router">LINK</a></li>
        <li>BodyParser for parsing the request body/headers from frontend to server <a
                href="https://github.com/expressjs/body-parser">LINK</a></li>
        <li>Pagination made possible using Pagination Directive available here: <a
                href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination">LINK</a>
        </li>
        <li>The Theme used for building the website is 'FLATLY' available here: <a
                href="https://bootswatch.com/flatly/">LINK</a></li>
        <li>User session is implemented by using <a href="https://jwt.io/">JSONWebTokens</a></li>
        <li>Info from IMDB and other related sites is possible by using <a
                href="https://www.npmjs.com/package/imdb-api">imdb-api</a></li>

    </ol>
</div>