<div id="suggestions_page">

    <h2>Suggested Movies:</h2>
    <br/>
    <br/>
    <div class="alert alert-danger" ng-show="errorCode">
        <strong>Oops!</strong> Something Went Wrong!
    </div>
    <div class="movie_display" dir-paginate="x in suggestions | itemsPerPage: 5">
        <div class="row">
            <div class="col-md-2">
                <img class="movie_image" ng-src="{{x.imgurl}}" alt="{{x.title}}" title="{{x.title}}" width="180"
                     height="300">
            </div>
            <div class="col-md-10">
                <a ui-sref="movie({ id: x.id})" target="_blank" class="movie_name">{{x.title}}</a>
                <span class="movie_year">({{x.year}})</span>
                <br/>
                <span class="movie_rating">Rating: {{x.rating}}</span>

                <br/>
                <span class="movie_plot">{{x.plot}}</span>
            </div>
        </div>
    </div>

    <dir-pagination-controls></dir-pagination-controls>
</div>